<h1><%= @work.title %></h1>

 <%= image_tag @work.image_url, :class => "bigimage" %>

<ul class="work_description">
    <li>WHO: <%= @work.user.name %></li>
    <%# needs testing with empty entry %>
    <% unless !@work.height.present?  %>
        <li>HEIGHT: <%= @work.height %></li>
    <% end %>
    <% unless !@work.width.present?%>
        <li>WIDTH: <%= @work.width %></li>
    <% end %>
    <%# how to set default value of unknown if no entry is made %>
    <li>MEDIUM: <%= @work.medium || "unknown" %></li> 
</ul>

<div class="controller">
     <%# <% if @current_user ==  %>
    <%= link_to "edit", edit_work_path(@work), class: 'btn'%>
    <%= link_to "delete", @work, :method => :delete, :data => { :confirm => 'are you sure?'}, class: 'btn'%>
     <%# <% end %>
</div>
