<!DOCTYPE html>
<html>
  <head>
    <title>Collectart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
    <link rel="stylesheet" href="/assets/collectart.css">
  </head>

  <body>
    <div class="container">
      <nav>
        <div class="navigation">
        <% if @current_user.present? %>
          <%= link_to "home", root_path  %>
          <%= link_to "all works", works_path %>
          <%= link_to "add your work", new_work_path %>
          </div>
          <%= link_to "logout as #{ @current_user.name }" , login_path, :method => 'delete', class: "logout" %>
        <% else %>
        <%= link_to "sign up", new_user_path %>
        <%= link_to "sign in", login_path %>
      <% end %>
      </nav>
    <%= yield %>
    </div>
    
  </body>
</html>
