<!DOCTYPE html>
<html>
  <head>
    <title>Collectart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="collectart.css">
    <link rel="stylesheet" href="pages.css">
    <link rel="stylesheet" href="works.css">
  </head>

  <body>
    <div class="container">
      <nav>
        <%= link_to "home", root_path  %>
        <%= link_to "all works", works_path %>
        <%= link_to "add your work", new_work_path %>
      </nav>
    <%= yield %>
    </div>
  </body>
</html>
